.weather-header {
    background: rgb(75,124,204);
    background: linear-gradient(90deg, rgba(75,124,204,1) 0%, rgba(43,43,196,1) 26%, rgba(44,41,106,1) 84%);
}

#form-heading {
    font-weight: bold;
}

.search-form {
    display: flex;
    width: 100%;
}

.form-group {
    display: block;
    width: 100%;
} 

#search-button {
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.form-input {
    border-radius: 5px;
    margin-bottom: 15px;
    height: 50px;
}

.input-group-append {
    background: rgb(135,209,226);
    background: linear-gradient(90deg, rgba(135,209,226,1) 0%, rgba(143,216,235,1) 26%);
    border-radius: 5px;
}

.hr {
    width: 100%;
    border-top: 2px solid rgba(0,0,0,.3);
}

.location {
    display: flex;
    flex-direction: column;
    height: 40px;
    background-color: rgb(219, 213, 213);
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 5px;
}

#today.city {
    border: 2px solid;
}

#today h3, #today div {
    padding: 10px 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-weight:bolder;
}